body#contact-page {
    background: $primary-color;
    /* Header */
    header {
        background: $primary-color;
        clip-path: none;
        height: auto;
        height: 7vh;
        min-height: 65px;
        ul li a {
            color: $secondary-color;
        }
        ul li a:hover {
            color: $ternary-color;
            border-bottom-color: $ternary-color;
        }
    } // end header
    /* Main */
    main {
        background-image: url('/assets/about-bg.png'); // background-size: cover;
        box-sizing: border-box;
        min-height: 83.75vh;
        margin: 0;
        padding: 20px 15vw;
        width: 100%;
        text-align: left;
        #contact_form label {
            font-size: 16px;
            color: #fafafa;
        }
        #nameLabel {
            display: inline-block;
            margin-bottom: 10px;
        }
        #contact_form input {
            height: 35px;
            border: 1px solid #999999;
            width: 100%;
            border-radius: 5px;
        }
        #contact_form span,
        #contact_form input#lname {
            display: none;
        }
        #lname_span {
            margin-left: 210px;
        }
        #emailLabel {
            display: inline-block;
            margin: 5px 0 15px 0;
        }
        #contact_form span#email-subtext {
            display: block;
            font-size: 12px;
            color: $primary-color;
        }
        #messageLabel {
            display: inline-block;
            margin-top: 5px;
            margin-bottom: 15px;
        }
        textarea {
            height: 100px;
            border: 1px solid #999999;
            width: 100%;
            border-radius: 5px;
        }
        #contact_form input#submit-btn {
            width: 33%;
            background: #2e577f;
            border: none;
            color: $primary-color;
        }
    } // end footer
    /* Footer */
    footer {
        height: 7vh;
        min-height: 65px;
        background: $primary-color;
        clip-path: none;
        .social {
            bottom: 35%;
            a svg {
                width: 25px;
                height: 25px;
                transition: all 0.2s ease-in-out;
            }
            a svg:hover {
                width: 35px;
                height: 35px;
            }
        }
        #copyright {
            color: $ternary-color;
        }
    }
    .alert {
        box-sizing: border-box;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        width: 100%;
        font-family: 'Noto Sans', sans-serif;
        font-size: 12px;
    }
    .alert strong {
        font-size: 16px;
        font-weight: 700;
    }
    .alert-danger {
        background-color: #f2dede;
        border-color: #ebcccc;
        color: #c73030;
    }
    .alert-success {
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
}