/* Footer */

footer {
  width: 100%;
  height: auto;
  min-height: 75vh;

  h1 {
    font-size: 5em;
    padding-top: 35vh;
  }

  #contact-btn {
    font-size: 0.9em;
    margin-top: 4vh;
  }

  .social {
    margin-top: 4em;
  }
}
