@keyframes design-handwritten {
  100% {
    stroke-dashoffset: 0;
  }
}

#d_path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 2px;
  animation: design-handwritten 8s linear forwards;
}

#e_path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 2px;
  animation: design-handwritten 12s linear forwards 0.7s;
}

#s_path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 2px;
  animation: design-handwritten 4.5s ease-in-out forwards 1.4s;
}

#i_path1 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 2px;
  animation: design-handwritten 3s ease-in forwards 2.1s;
}

#i_path2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 2px;
  animation: design-handwritten 5s ease-in forwards 2.5s;
}

#g_path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 2px;
  animation: design-handwritten 3.5s ease-in forwards 3s;
}

#n_path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 2px;
  animation: design-handwritten 3.5s ease-in-out forwards 3.75s;
}

#amp_path1 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 2px;
  animation: design-handwritten 5s ease-in forwards 4.5s;
}

#amp_path2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 2px;
  animation: design-handwritten 5s ease-in forwards 5.5s;
}
