@import "../../assets/scss/variables";

button#scroll-btn {
  position: absolute;
  top: 72%;
  left: 50vw;
  transform: translate(-50%);
  background: none;
  border: none;

  @media only screen and (min-width: 768px) {
    top: 72vh;
  }

  @media only screen and (min-width: 1024px) {
    display: none;
  }
}

main#content-start {
  width: calc(100% - 30vw);
  text-align: center;
  font-size: 0.8rem;
  line-height: 32px;
  padding: 0 15vw;
  scroll-behavior: smooth;

  div#design-content-container {
    div#design-animation-container {
      @media only screen and (min-width: 768px) {
        width: 40%;
      }

      @media only screen and (min-width: 1024px) {
        width: 30%;
      }
    }

    div#design-text-container {
      h1#design-content-title {
        font-family: $secondary-font;

        @media only screen and (min-width: 768px) {
          font-size: 2.5em;
        }
      }

      p#design-content {
        margin-top: 1em;
        font-family: "Noto Sans", sans-serif;
        color: #777;
      }

      @media only screen and (min-width: 768px) {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  div#develop-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 5em;

    div#develop-animation-container {
      display: flex;
      flex-direction: column;
      order: 1;

      @media only screen and (min-width: 768px) {
        order: 2;
        width: 40%;
      }

      @media only screen and (min-width: 1024px) {
        width: 30%;
      }
    }

    div#develop-text-container {
      display: flex;
      flex-direction: column;
      order: 2;

      h1#develop-content-title {
        font-family: $ternary-font;
        font-weight: $normal-font;

        @media only screen and (min-width: 768px) {
          font-size: 2.5em;
        }
      }

      p#develop-content {
        margin-top: 1em;
        font-family: "Noto Sans", sans-serif;
        color: #777;
      }

      @media only screen and (min-width: 768px) {
        order: 1;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    @media only screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10em;
    }
  }

  @media only screen and (min-width: 768px) {
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 0 2em;
  }

  @media only screen and (min-width: 1024px) {
    margin-top: 10em;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}
